.section-user-statistic {
  padding: 16px 0 50px 0;

  .dropdown-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;

    .dropdown-wrapper {
      margin-left: 16px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .user-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 16px;
  }

  .dropdown-wrapper {
    position: relative;
    min-width: 200px;
    user-select: none;

    .dropdown-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px $border-color solid;
      border-radius: 8px;
      font-size: 1em;
      padding: 8px 14px;
      cursor: pointer;

      &.active {
        border-bottom: 1px transparent solid;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      svg {
        width: 1em;
        height: 1em;
        margin-left: 8px;
      }
    }

    .dropdown-list {
      display: none;
      flex-direction: column;
      position: absolute;
      width: 100%;
      max-height: 200px;
      background: $background-color;
      border: 1px $border-color solid;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      overflow-x: auto;

      &.open {
        display: flex;
      }

      .dropdown-list-item {
        border: none;
        background: none;
        border-bottom: 1px $border-color solid;
        font-family: inherit;
        font-size: 0.9em;
        padding: 8px 14px;
        color: $dark-text-color;
        cursor: pointer;
        outline: none;

        &:last-child {
          border: none;
        }

        &:hover {
          background: $border-color;
        }
      }
    }
  }

  .table {
    width: 100%;
    border-radius: 30px;

    th,
    td {
      font-size: 1em;
      font-weight: 400;
      text-align: left;
    }

    thead {
      th {
        background: $primary-color;
        padding: 0.9em 1.5em;
        color: $light-text-color;

        &:first-child {
          border-top-left-radius: 8px;
        }

        &:last-child {
          border-top-right-radius: 8px;
        }
      }
    }

    tbody {
      tr {
        background: $first-table-color;
        cursor: pointer;

        &:nth-child(2n + 1) {
          background: $second-table-color;
        }

        &:last-child {
          td:first-child {
            border-bottom-left-radius: 8px;
          }

          td:last-child {
            border-bottom-right-radius: 8px;
          }
        }

        td {
          padding: 6px 1.5em;
          color: $dark-text-color;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    list-style: none;
    user-select: none;

    .pagination-btn {
      display: inline-block;
      background: $background-color;
      border: 2px $border-color solid;
      border-radius: 8px;
      width: 48px;
      height: 48px;
      margin: 0 4px;
      font-size: 1em;
      color: $dark-text-color;
      line-height: 48px;
      text-align: center;
      cursor: pointer;

      &.active {
        background: $primary-color;
        border-color: $primary-color;
        color: $light-text-color;
      }
    }

    .pagination-arrow {
      margin: 5px 24px 0;
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;

        path {
          stroke: #ccc;
        }
      }

      path {
        stroke: $primary-color;
      }
    }
  }

  .chart-wrapper {
    height: 60vh;
  }
}
