.header-site {
  width: 100%;
  color: $whitecolor;
  padding: 10px 0;
  background-color: $bluecolor;

  .header-logo {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
  }
}
