$whitecolor: #ffffff;
$greycolor: #7e7e7e;
$backcolor: #000000;
$bluecolor: #3a80ba;

$primary-color: #3a80ba;
$background-color: #ffffff;
$border-color: #f1f1f1;
$first-table-color: #f1f1f1;
$second-table-color: #fbfbfb;
$dark-text-color: #1a1a1a;
$light-text-color: #ffffff;
$secondary-text-color: #7e7e7e;
